*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://free4kwallpapers.com/uploads/originals/2018/04/12/mountains-sunset-digital-art-wallpaper.jpg') !important;
  background-position: center ;
}
h1{
  color: #1b1b32;
  font-size:50px;
  font-weight: bold;
  font-family: 'Roboto',sans-serif;
  text-align: center;
  padding: 20px 0;
}
.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.freecodecamp-logo-contenedor{
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.freecodecamp-logo{
  width: 400px;
  height: 50px;
}
.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: #fff;
  padding: 25px;
  margin: auto;
  border-radius: 26px;
  border: 2px solid #00471b;
}